<%- include('base_header'); -%>


<body>

    <h1>Bienvenidos a la frase aleatoria</h1>
    <a href="/insertar">Insertar Frases</a>

    <div class="container">


        <div class="card">
            <!-- Cover -->
            <div class="card__cover container">

                <!-- The content -->
                <%= frase %>
            </div>

            <!-- Content -->
            <div class="card__content container">
                <!-- Text -->
                <div class="container__content">
                    Una Frase aleatoria de
                </div>

                <!-- Separator line -->
                <div class="container__separator"></div>
            </div>
            <%= author %>
        </div>
    </div>
</body>
<%- include('base_footer'); -%>